html{
  height:100% ;
  margin: 0px;
	padding: 0;
  border: 0;
  font-size: 20px;
  font-family: "Rasa";
}

body {
  width: 100%;
  margin: 0px;
	padding: 0;
  border: 0;
  overflow: hidden;
  background: #F1ECE8;
}

p {
  font-size: 1.17em;
  line-height: 1.35em;
}

.pMain {
  font-size: 1.17em;
  line-height: 1.35em;
}

.subHeading {
  font-size: .9em;
  font-style: italic;
}

.tautoko {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: none;
  position: relative;
  border-bottom: .05em solid #95a16e;
      padding-bottom: 2.3em; 
}


@media all and (max-width: 600px) {
    
  .search > input {
    text-align: center;
  }
}

.respect {
  padding: 0 .7em 0 .7em;
  color: rgb(133, 133, 133);
  vertical-align: center
}

.tautoko-button-div{
  padding-top: .4em;
}

.count{
  text-align: center;
  font-size: 52px;
  color: #DC5757;
  padding: .12em 0 .1em;
}


.tangata{
  padding: 1.55em .7em 1.2em .7em;
  font-size: 17px;
  color: #DC5757;
}

/* landing page styling */
.overlay {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 55;
  width:50%;
  float: right;
 
  background: #F1ECE8;
  opacity: .9;
  margin: 50px;
  padding: 50px;

}

.fullscreen-video-wrap{
  min-width: 100vw;
  min-height:  100vh;
  padding-left: overlay-width;
}


.aboutImage {
  min-width: 100vw;
  min-height:  100vh;

}


#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#background-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#mobile-background-image{
  display: none;
}

.overlayNew {
  position: fixed;
  width: 50vw;
  height: calc(100vh - 2.4em);
  top: 2.4em;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #F1ECE8;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,.1);
}

.overlayNewAbout {
  position: fixed;
  width: 50vw;
  height: calc(100vh - 2.4em);
  top: 2.4em;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: #F1ECE8;
}

.aboutContainer {
  margin: 3em;
}

.mapBackground {
  width: 50vw;

}

/* button styles */


button {
  text-align: center;
  border: .7px solid #434734;
  border-radius: 5px;
  padding: .75rem .75rem;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Rasa";
}

button:focus {
  outline: 0;
}

button:hover {
  background: #F5F5F5;
}


button :active {
  background: #9fa09a;

}

.buttonExplore {
  color: #434734;
  background: none;
}

.exploreButton {
  width: 10rem;
  margin-bottom: 5rem;
}


 .backToList {
   width: 8rem;
 }

 .tautokoButton {
   width: 8rem;
   background-color: #DC5757;
   color: white;
   border: none;
   
 }

 .tautokoButton:hover {
  background-color: #DC5757;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}




.addAnotherButton {
  width: 21.5rem;
  margin: 10px;
  letter-spacing: .03em;
}

.registerSubmitButton {
  width: 8rem;
  margin: 10px;
  letter-spacing: .03em;
}

.languageToggleButton {
  width: 2.9em;
  height: 1.9em;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 55;
  outline: none;
  display: flex;
  align-items: center;
  align-content: center;
}

img.toggleButton {
  width: 95%;
  transition: width .2s ease-in;
  cursor: pointer;

}

img.toggleButton:hover {
  width: 98%;
}

/* about styling */

.about-button {
  padding-right: 11%;
  display: block;
  border: none;
  background: none;
  color: #797c6a;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: none;
}

.about-button:hover{
  color: #DC5757;
  border: none;
  background: none;
}

/* button styles */


.aboutBody {
  font-size: 1.2em;
  line-height: 34px;
}

.landingtext {
  position: fixed;
  width: 60vw;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  text-align: center;
  color: #434734;
}

.landingtext h3 {
  font-size: 1.2em;
}

.landingtext h1 {
  font-size: 1.9em;
}

.landing-buttons a {
  padding: .9em;
  font-size: 1.3em;
  text-decoration: none;
}

.landing-buttons {
  padding-top: 1.5em;
}

.aboutHeading2 {
  font-size: 3em;
}





/* split screen */
.mapwrapper {
  display: inline-block;
  width: 50%;
}

.detailwrapper {
  padding: 10px 90px 0px 90px;
  background: #F1ECE8;
}

/* rahui list view */

.rahuilist {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  color: #434734;
}

.rahuilist:hover{
  color: #DC5757;
  border-radius: 5px
}

.rahuilist p {
  font-family: "Rasa";
  font-style: normal;
  font-weight: lighter;
  font-size: .9em;
  line-height: 1.35em;
  color: #656b50;
  padding-bottom: 2em;
  margin: 0px;
  border-bottom: .05em solid #95a16e;
}

.rahuiDescription{
  padding-top: 1em;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-top: .5em;
}

/* font styles */
h1 {
  /* padding-bottom: 1.7em; */
  font-size: 2.5em;
  letter-spacing: .02em;
  line-height: 1.2em;
  color: #434734;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2em;
  color: #434734;
  z-index: 55;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  color: #434734;
  margin-top: 0px
}

h3 {
  font-style: bold;
  font-weight: bold;
  font-size: 1.5em;
  color: #434734;
}


p {
  font-family: "Rasa";
  font-style: normal;
  font-weight: normal;
  font-size: 1.17em;
  line-height: 1.35em;
  color: #434734;
  padding: 0px;
  margin: 0px;
}

b {
  font-family: "Rasa";
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  padding: 0px;
  color:  #434734;
  text-decoration: underline;
}

a {
  color: #DC5757
}

.date {
  padding-right: 20px
}
/* form styles  */

input {
  width: 20rem;
  padding: .75rem .75rem;
  outline: none;
  border-radius: 5px;
  /* background-color: #eceee3; */
  border: none;
  font-size: .97em;
  margin: 10px 10px 10px 10px;
  font-family: "Rasa";
}

input:focus {
  border: 0.8px solid #7d8366;
}

textarea {
  width: 90%;
  padding: 12px 20px;
  outline: none;
  border-radius: 4px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-family: "Rasa"
}

select {
  width: 21.5rem;
  padding: .75rem .75rem;
  border: none;
  border-radius: 5px;
  font-size: .9em;
  color: grey;
  outline: none;
  height: 2.6rem;
  margin: 10px;
  font-family: "Rasa";
}

select:focus {
  border: 1px solid #7d8366;
}

map {
  overflow: hidden;
}

.spaceme {
  padding: 90px;
}

.step {
  font-family: Rasa;
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #DC5757;
  margin-bottom: 20px;
  margin-top: 20px
}

.one {
  width:60%;
  padding: 20px;
  display: grid;
  display: inline-block;
  margin-top:5px;
  vertical-align: top
}

.thumbnail {
  display: inline-block;
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  width:100px;
  height:100px;
  
}

.iwihapubox {
  position: relative;
  width: 30%;
  background: #eceee3;
  padding: 10px;
}

.dropdownbox {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.dropdownboxedit {
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.selectediwi {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}

.selectediwiedit {
  display: inline-block;
  width: 40%;
  margin-top:20px;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}


.login-wrapper {
  position: fixed;
  margin: auto;
  width: 100%;
  top: 10rem;;
  text-align: center;
}

.loginHeader {
  margin: 10px 10px 10px 10px;
}

.loginInput {
  margin: 10px 10px 10px 10px;
}

.loginButton {
  margin: 10px 10px 10px 10px;
  min-width: 8rem;

}



/* register style */

.registerContainer {
  /* margin: auto; */
  width: 100vw;
  height: calc(100vh - 2.4em);
  top: 2.4em;
  overflow: auto;
  background: #F1ECE8;
  position: fixed;
}

.registerCenter {
  align-items: center;
  width: 60vw;
  position: relative;
  margin-left: 20vw;
  margin-top: 10vh;
  /* text-align: center; */
}

.registerInputWrapper {
  align-items: center
}

.addAnotherRegionButton {
  font-size: 20px;
}

.registerButton {
  display: block;
  width: 200px;
  margin: 20px 0px 200px 0px;
  font-size: 20px;
}

.registerButton1 {
  display: block;
  width: 200px;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  color: #434834;
  background: white;
}

.inputRegister {
  width: 40%
}

.dropdownboxRegion{
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.selectediwiRegister {
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  margin-left: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}


.selectediwiedit {
  display: inline-block;
  width: 40%;
  margin-top:20px;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}

.submitedit {
  font-size: 19px;
  width: 170px;
  display: inline-block
}

.aboutnav {
  display: flex;
}

.aboutwrapper {
  width: 50vw;
}


.aboutImage img {
  width: 100vw;
  height: 100vh; 
}

.yourWhakapapa {
  background: #F5F5F5;
  border-radius: 4px;
  width: 20rem;
  padding: .75rem .75rem;
  margin: 10px;
}

/* responsive navbar */

.header{
  background-color:#434734;
  color: #F1ECE8;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
  position:fixed;
  width:100%;
  z-index:3;
}

.header a {
  color: #F1ECE8;
  text-decoration: none;
}

.header ul{
  margin:0;
  padding:0;
  list-style:none;
  overflow:hidden;
}

.header ul a{
  color: #F1ECE8;
  display: block;
  text-decoration: none;
  background-color: #434734;
}

.header li a{
 padding: 1em;
}

.header ul a:hover{
 color:#000;
 background-color:#F1ECE8; 
}

.header .logo{
  float: left;
  display: block;
  font-size: 1.2em;
  padding: .4em;
  transition:font-size .3s ease-out;
}

.header .logo:hover{
  color: rgb(242, 231, 222);
  font-size: 1.25em;
}

.header .menu{
  clear:both;
  max-height:0;
  transition:max-height .2s ease-out;
}

.header .menu-icon{
  padding: 1.15em;
  position:relative;
  float:right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background:#F1ECE8;
  display:block;
  height:2px;
  width:18px;
  position:relative;
  transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background:#F1ECE8;
  content:"";
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  transition:all .2s ease-out;
  top:5px;  

}

.header .menu-icon .nav-icon:after{
  background:#F1ECE8;
  content:"";
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  transition:all .2s ease-out;
  top:-5px;  

}

.header .menu-btn{
  display:none;
}

.header .menu-btn:checked ~ .menu{
  max-height:100%;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background:transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top:0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top:0;
}

@media (min-width:50em){
  
  .header li{
      float:left;
  }
  .header li a{
      background-color:#434734;
      color: #F1ECE8;
      padding: 0.58em 1.2em 0.58em 1.2em;
  }
  .header .menu{
      clear:none;
      float:right;
      max-height:none;
  }
  .header .menu-icon{
      display:none;
  }

}

@media (max-width:50em){
  
  #background-video{
    display: none;
  }

  .overlayNew {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 2.4em);
    top: 2.4em;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #F1ECE8;
  }

  .landingtext {
    position: fixed;
    width: 60vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    text-align: center;
    color: #434734;
}

.landingtext h3 {
  font-size: 1.2em;
}

.landingtext h1 {
  font-size: 1.9em;
}

  .aboutContainer {
    margin: 1.5em;
  }

  .about-button{
    padding-right: 1.7m;
    padding-left: 0; 
    font-size: 1em;
    text-transform: none;
    
  }

  .overlayNewAbout {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 2.4em);
    top: 2.4em;
    left: 0;
    bottom: 0;
    overflow: auto;
    background: #F1ECE8;
  }

  .registerCenter {
    align-items: center;
    width: 96vw;
    position: relative;
    margin-left: 2vw;
    margin-top: 2vh;
    /* margin-right: 2vw; */
  }

  #mobile-background-image{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center; 
  }
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F1ECE8; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 220, 216);  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(201, 197, 193);   
}

.rahui-text {
  margin: 3em;
}

.rahui-text p {
  padding-top: 1.3em;
}

.gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.error-message p {
  color: #DC5757;
  font-size: 1.5em;
}

.error-message {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 35;
  position: fixed;
}

.ToggleLanguageButton a{
  color: #DC5757;
}

.overlayLanding {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #F1ECE8;
  opacity: 0.8;
  padding: 3em;
}