html{
  height:100% ;
  margin: 0px;
	padding: 0;
  border: 0;
  font-family: "Rasa";
}

body {
  width: 100%;
  margin: 0px;
	padding: 0;
  border: 0;
  overflow: auto;
  background: #F1ECE8;
}

.pMain {
  margin-top: 20px;
  font-size: 26px;
  line-height: 34px;
}


.tautoko {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr ;
  grid-template-rows: none;

  position: relative;
}

/* navbar styling */

.navbarContainer {
  display: flex;
  height: 100%;
  align-items: center;
  background: #434734;
}

.navbarContainer a {
  color: #F1ECE8;
  text-decoration: none;
  font-size: 20px;
}

.logoNav {
  padding: 20px 20px 20px 20px;
}

.logoNav a {
  font-size: 30px;
}

.exploreNav{
  padding: 20px 20px 20px 20px;
}

.aboutNav {
  padding: 20px 20px 20px 20px;
}

.addNav {
  padding: 20px 20px 20px 20px;
  margin-left: auto;
}

.loginNav {
  padding: 20px 20px 20px 20px;
}

/* 546 */
/* @media all and (max-width: 546px) {
  .navbarContainer {
    
  } */






.respect {
  padding: 30px 15px 25px 20px;
  color: rgb(133, 133, 133);
  vertical-align: center
}

.count{
  text-align: right;
  font-size: 52px;
  color: #DC5757;
  padding: 20px 5px 20px 0px;
  vertical-align: center
}


.tangata{
  padding: 30px 15px 25px 15px;
  font-size: 17px;
  color: #DC5757;
  vertical-align: center;

}



hr {
  padding: 0;
  margin: 0;
  opacity: .45;
}

/* landing page styling */
.overlay {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 55;
  width:50%;
  float: right;
 
  background: #F1ECE8;
  opacity: .9;
  margin: 50px;
  padding: 50px;

}

.fullscreen-video-wrap{
  /* margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -20; */
  min-width: 100vw;
  min-height:  100vh;
  padding-left: overlay-width;
}

#background-video {
  /* margin: 0;
  width: 100vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  z-index: -20; */
  width: 100vw;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.overlayNew {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  background: #F1ECE8;

}

/* overlayTextNew {
  background: #F1ECE8;
} */

.mapBackground {
  width: 50vw;
  /* object-fit: cover;
  display: flex;
  align-items: center; */
}








.languageToggleButton {
  width: 60px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 55;
  margin: 0px 0px 0px 0px;
  padding: 2px;
  outline: none;
  display: flex;
  align-items: center;
  align-content: center;
}

img.toggleButton {
  width: 95%;
  transition: width .2s;
}

img.toggleButton:hover {
  width: 98%;
}

/* about styling */

.aboutNav {
width: auto;
background: none;
border: none;
color: #434734;
margin-top: 0px
}

.aboutNav:hover {
text-decoration: underline;
}

.aboutNav:selection {
text-decoration-line: underline;
}







.aboutBody {
  margin: 10px 600px 0px 80px;
  font-size: 22px;
  line-height: 34px;
}

.landingtext {
  margin: 30px 30px 30px 30px;
  font-size: 28px;
  line-height: 38px;
  color: #434734
}

.aboutContainer {
  margin: 60px 40px 60px 70px;
}

.aboutMargin {
  margin: 40px 20px 20px 70px; 
}

.aboutHeading {
  /* margin: 40px 20px 20px 70px; */
  padding: 10px 10px 0px 10px;
  font-size: 48px;
  text-decoration: underline;
}

.aboutHeading2 {
  margin: 50px 20px 0px 70px;
  padding: 10px 10px 10px 10px;
  font-size: 64px;
}





/* split screen */
.mapwrapper {
  display: inline-block;
  width: 50%;
}

.detailwrapper {
  padding: 10px 90px 0px 90px;
  background: #F1ECE8;
}

/* rahui list view */

.rahuilist {
  cursor: pointer;
  padding: 30px 0px 30px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40px;
  color: #434734;
}

.rahuilist:hover{
  color: #DC5757;
  border-radius: 5px
}

/* font styles */
h1 {
  padding-bottom: 20px;
  padding-top: 10px;  
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 58px;
  color: #434734;
  margin-top: 20px
}

.title {
  padding-bottom: 20px;
  padding-top: 30px;  
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #434734;
  z-index: 55;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  color: #434734;
  margin-top: 15px
}

h3 {
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  color: #434734;
  margin-top: 10px
}


p {
  font-family: "Rasa";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #434734;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px
}

b {
  font-family: "Rasa";
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  padding: 0px;
  color:  #434734;
  text-decoration: underline;
}

a {
  color: #DC5757
}

.date {
  padding-right: 20px
}
/* form styles  */

input {
  width: 90%;
  padding: 12px 20px;
  outline: none;
  border-radius: 4px;
  background-color: #eceee3;
  border: none;
  font-size: 17px;
  margin-right: 10px
}

input:focus {
  border: 1px solid #7d8366;
}

textarea {
  width: 90%;
  padding: 12px 20px;
  outline: none;
  border-radius: 4px;
  background-color: #eceee3;
  border: none;
  font-size: 17px;
  font: "Courier New"
}

select {
  width: 100%;
  padding: 33px 20px;
  border: none;
  border-radius: 4px;
  background-color: #F1ECE8;
  font-size: 17px;
  outline: none;
}

select:focus {
  border: 1px solid #7d8366;
}

/* button styles */

button {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  background: #434734;
  border-radius: 4px;
  color: #F1ECE8;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  font-family: Rasa;
  margin: 20px 0px 20px 0px;
}

button :active {
  background: #9fa09a;

}



.buttonExplore {
  color: #434734;
  background: none;

}


 .secondarybutton {
  width: 100%;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border-color: #434734 ;
  border-width: 1px;
  background: #F1ECE8;
  color: #434734;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 33px;
  text-align: center;
  font-family: Rasa;
  margin-top: 20px;
}


map {
  overflow: hidden;
}

.spaceme {
  padding: 90px;
}

.step {
  font-family: Rasa;
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #DC5757;
  margin-bottom: 20px;
  margin-top: 20px
}

.one {
  width:60%;
  padding: 20px;
  display: grid;
  display: inline-block;
  margin-top:5px;
  vertical-align: top
}

.thumbnail {
  display: inline-block;
  background-size: cover;
  border-radius:50% 50% 50% 50%;
  width:100px;
  height:100px;
  
}

.iwihapubox {
  position: relative;
  width: 30%;
  background: #eceee3;
  padding: 10px;
}

.dropdownbox {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.dropdownboxedit {
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.selectediwi {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}

.selectediwiedit {
  display: inline-block;
  width: 40%;
  margin-top:20px;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}


.login-wrapper {
  margin: auto;
  width: 50%;
}

.loginInput {
  margin: 10px 10px 10px 10px;
}

.loginButton {
  width: 150px;
  margin: 10px 10px 10px 10px;
  font-size: 20px;
}

.loginHeader {
  margin: 100px 10px 10px 10px;

}


/* register style */

.registerContainer {
  width: 75%;
  margin: auto;
}

.addAnotherRegionButton {
  font-size: 20px;
}



.registerButton {
  display: block;
  width: 200px;
  margin: 20px 0px 200px 0px;
  font-size: 20px;
}

.registerButton1 {
  display: block;
  width: 200px;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  color: #434834;
  background: white;
}

.addAnotherButton {
  width: 40%;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  /* padding: */
}

.inputRegister {
  width: 40%
}

.dropdownboxRegion{
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;

}

.selectediwiRegister {
  display: inline-block;
  width: 40%;
  /* margin-right: 20px; */
  margin-left: 20px;
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}


.selectediwiedit {
  display: inline-block;
  width: 40%;
  margin-top:20px;
  /* margin-right: 20px; */
  padding: 20px;
  border-radius: 4px;
  background: #eceee3;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
}

.submitedit {
  font-size: 19px;
  width: 170px;
  display: inline-block
}

.aboutnav {
  display: flex;
}

.aboutwrapper {
  width: 50vw;
}

.aboutBody {
  margin: 10px 10px 0px 80px;
  font-size: 22px;
  line-height: 34px;
}

.aboutImage {
  width: 50vw; 
}